/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #fff;
    color: #000;
  }
  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
/* font-family: 'Montserrat', sans-serif; */
@font-face {
  font-family: "DINP-R";
  src: url("../fonts/DINPro-Regular.eot?") format("eot"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 986px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.features {
  background: #fafafa;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 46px;
  letter-spacing: 0.2px;
  padding: 0 35px;
  border: 1px solid #FFA62B;
  border-radius: 5px;
  background-color: #FFA62B;
  color: #fff;
  transition: background-color ease 0.35s, color ease 0.35s;
}
.btn + .btn {
  margin-left: 10px;
}
.btn:hover {
  background-color: transparent;
  color: #FFA62B;
}
.btn--rounded {
  border-radius: 37px;
}
.btn--secondary {
  background-color: #00A0C1;
  border-color: #00A0C1;
}
.btn--secondary:hover {
  color: #00A0C1;
}
.btn--outline {
  background-color: transparent;
  color: #FFA62B;
}
.btn--outline:hover {
  background-color: #FFA62B;
  color: #fff;
}

/* Sliders */
.slick-initialized .slick-slide {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Section */
.hero {
  background-image: url("../images/design/cover.jpg");
  background-size: cover;
  background-position: top right;
}
.hero__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  transition: opacity ease 0.25s;
}
.hero__logo:hover {
  opacity: 0.5;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 60px);
}

.navbar {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  margin-left: 120px;
}
.nav__item {
  display: inline-block;
  line-height: 32px;
}
.nav__item + .nav__item {
  margin-left: 20px;
}
.nav__item a {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  transition: color ease 0.25s;
}
.nav__item a:hover {
  color: #252B42;
}

.hero-cta {
  max-width: 510px;
}
.hero-cta__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 35px 0;
}
.hero-cta__info p + p {
  margin-top: 10px;
}
.hero-cta h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-transform: uppercase;
}

.hero-blocks {
  display: flex;
  gap: 30px;
  position: relative;
  top: 20px;
}

.hero-block {
  background-color: #fff;
  padding: 35px 40px;
  width: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: all ease 0.3s;
}
.hero-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  white-space: nowrap;
  margin: 10px 0;
  color: #252B42;
}
.hero-block__descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.hero-block svg {
  fill: #00A0C1;
}
.hero-block:hover {
  background-color: #00A0C1;
}
.hero-block:hover svg {
  fill: #fff;
}
.hero-block:hover .hero-block__title, .hero-block:hover .hero-block__descr {
  color: #fff;
}

.statistics__container {
  display: flex;
  flex-direction: column;
}

.statistics-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.statistics-title__container {
  max-width: 511px;
}
.statistics-title__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  text-align: center;
}
.statistics-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.statistics-block {
  background-color: #fff;
  padding: 30px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-block svg {
  fill: #00A0C1;
}
.statistics-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin: 10px 0;
  color: #252B42;
}
.statistics-block__descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #737373;
}

.advice__container {
  display: flex;
  flex-direction: column;
}

.advice-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.advice-title__container {
  max-width: 511px;
}
.advice-title__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  text-align: center;
}
.advice-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.advice-blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advice-block {
  background-color: #fff;
  max-width: 230px;
  width: 100%;
}
.advice-block__content {
  padding: 30px;
}
.advice-block__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 15px;
}
.advice-block__descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.about-block {
  margin: 100px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-block .video {
  position: relative;
}
.about-block .video video {
  max-width: 580px;
  width: 100%;
  height: 442px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-block .video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.about-block .trust {
  max-width: 333px;
  margin-left: 20px;
}
.about-block .trust h2, .about-block .trust .advice-title__info {
  text-align: left;
}
.about-block .trust .card-item {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-block .trust .card-item img {
  width: 10%;
  height: 100%;
}
.about-block .trust .card-item .flex-row {
  max-width: 286px;
  width: 90%;
  padding-left: 5px;
}
.about-block .trust .card-item h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.about-block .trust .card-item h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.about-us {
  padding: 50px 0 !important;
  background: #16697A;
}
.about-us__block {
  display: flex;
  justify-content: space-between;
}
.about-us__block .row {
  max-width: 320px;
  width: 100%;
}
.about-us__block .row div {
  margin-bottom: 10px;
}
.about-us h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #fff;
  margin-bottom: 20px;
}
.about-us a {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #fff;
}
.about-us .communication div {
  display: flex;
}
.about-us .communication div svg {
  min-width: 23px;
}
.about-us .communication div a {
  margin-left: 10px;
}

.social {
  padding: 25px 0;
}
.social__block {
  display: flex;
  justify-content: space-between;
}
.social__block h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.social__block .social-icon {
  display: flex;
}
.social__block .social-icon img {
  margin-left: 20px;
}

.clients {
  position: relative;
}
.clients .clients-block {
  margin-bottom: 137px;
}
.clients .clients-block__row {
  display: flex;
  justify-content: space-between;
}
.clients h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  width: 258px;
  color: #fff;
}
.clients .email {
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 30px 50px;
  height: 124px;
  background: #16697A;
  border-radius: 2px;
}
.clients .email__input {
  height: 58px;
  width: 333px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
}
.clients .email .btn {
  position: relative;
  left: -6px;
  padding: 15px 22px;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  line-height: 26px;
}
.clients .background-block {
  height: 77px;
  background-color: #252B42;
}

.features.contact {
  padding-top: 0;
}
.features.contact .row {
  display: flex;
  justify-content: space-between;
}
.features.contact .row .col-md {
  text-align: center;
  margin-top: 110px;
  padding: 54px;
  background: #fff;
  transition: 0.4s;
}
.features.contact .row .col-md .col-md__block {
  transform: scaleY(1);
  transition: 0.4s;
}
.features.contact .row .col-md:hover {
  background: #252B42;
  transform: scaleY(1.2);
  transition: 0.4s;
}
.features.contact .row .col-md:hover .col-md__block {
  transform: scaleY(0.85);
  transition: 0.4s;
}
.features.contact .row .col-md:hover h5, .features.contact .row .col-md:hover p {
  color: #fff;
  transition: 0.4s;
}
.features.contact .row .col-md:hover svg path {
  fill: #fff;
  stroke: #fff;
  transition: 0.4s;
}
.features.contact .row .col-md:hover .btn {
  color: #fff;
  border-color: #fff;
  transition: 0.4s;
}
.features.contact .row .col-md svg {
  margin-bottom: 15px;
}
.features.contact .row .col-md h5 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.features.contact .row .col-md p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.contuct-us {
  padding: 40px 0 !important;
}
.contuct-us__block {
  display: flex;
  justify-content: space-between;
}
.contuct-us h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.contuct-us p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* Demo Page styles *//*# sourceMappingURL=app.css.map */